body{

    background-color: #CFF5E7;
}

hr{ 
    
    border-style: dotted none none;
    border-color: grey;
    border-width: 15;
    width: 5%;
}
img
{
    height:250px;
    width: 250px;
}
h3
{
 color: #59C1BD;
}

h1
{
 color: #59C1BD;
}